<script type="text/javascript">
    RED.nodes.registerType('tibbit-44',{
        category: 'thebreadboardca',
        color: '#99FF00',
        defaults: {
            name: {value:""},
            slot: {value:"", required:true}
        },
        inputs:1,
        outputs:2,
        icon: "file.png",
        label: function() {
            return this.name||"Tibbit-44";
        },
        labelStyle: function() {
            return this.name?"node_label_italic":"";
        },
    });
</script>

<script type="text/x-red" data-template-name="tibbit-44">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
        <label for="node-input-slot"><i class="icon-tag"></i> Slot</label>
        <input type="text" id="node-input-slot" placeholder="Sxx">
    </div>
</script>

<script type="text/x-red" data-help-name="tibbit-44">
    <p>A simple node to interface with a Tibbit Module type 044 (4 Optical Inputs)</p>
    <p>A Output 1  through 4 represent the inputs of the tibbit</p>
</script>
